aiohttp==3.8.5 ; python_version >= "3.11" and python_version < "4.0"
aiosignal==1.3.1 ; python_version >= "3.11" and python_version < "4.0"
alabaster==0.7.13 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.5.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==3.7.1 ; python_version >= "3.11" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.11" and python_version < "4.0"
asyncpg==0.28.0 ; python_version >= "3.11" and python_version < "4.0"
attrs==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
babel==2.12.1 ; python_version >= "3.11" and python_version < "4.0"
certifi==2023.7.22 ; python_version >= "3.11" and python_version < "4.0"
charset-normalizer==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.1.6 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
dependency-injector==4.41.0 ; python_version >= "3.11" and python_version < "4.0"
docutils==0.20.1 ; python_version >= "3.11" and python_version < "4.0"
frozenlist==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.11" and python_version < "4.0" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64")
h11==0.14.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==0.17.3 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.24.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.4 ; python_version >= "3.11" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
mattermostautodriver==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
mmpy-bot==2.1.3 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.0.4 ; python_version >= "3.11" and python_version < "4.0"
packaging==23.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic-settings==2.0.2 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.1.1 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.15.1 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.11" and python_version < "4.0"
schedule==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.0 ; python_version >= "3.11" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
sphinx==7.1.2 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.19 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.0.4 ; python_version >= "3.11" and python_version < "4.0"
yarl==1.9.2 ; python_version >= "3.11" and python_version < "4.0"
